  <div class="jumbotron" >
    <h1>Welcome To The Village Market</h1>
    <h3>Get your fresh vegetables, fruits, fresh meats, and dried goods.</h3>
    <%= link_to "create an account", signup_path, class: "btn btn-lg btn-primary" %>
  </div>


  <div class="row">
    <% Category.all.each do |category| %>
      <% case category.id %>
        <% when 1 %>
          <div class="col-md-2 col-md-offset-1 cat ">
            <h3><%= link_to category.title, category_path(category.id) %></h3>
            <div class="thumbnail">
              <%= image_tag "vegetables.jpg" %>
            </div>
          </div>
        <% when 2 %>
          <div class="col-md-2 cat">
            <h3><%= category.title %></h3>
            <div class="thumbnail">
              <%= image_tag "fruits.jpg" %>
            </div>
          </div>
        <% when 3 %>
          <div class="col-md-2 cat">
            <h3><%= category.title %></h3>
            <div class="thumbnail">
              <%= image_tag "meats.jpg" %>
            </div>
          </div>
        <% when 4 %>
          <div class="col-md-2 cat">
            <h3><%= category.title %></h3>
            <div class="thumbnail">
              <%= image_tag "drygoods.jpg" %>
            </div>
          </div>
        <% when 5 %>
          <div class="col-md-2 cat">
            <h3><%= category.title %></h3>
            <div class="thumbnail">
              <%= image_tag "ground-provisions.jpg" %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>

