<%= render 'shared/navigation' %>
<%= provide(title: @vendor.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="vendor_info">
      <h1>
        <%= gravatar_for @vendor %>
        <%= @vendor.name %>
      </h1>
    </section>
  </aside>
  
  <div class="col-md-4">
    You have <%= @vendor.categories.count %> categories.
  </div>
  
  <div class="col-md-4">
    You have <%= @vendor.products.count %> products.
  </div>
</div>
